:root {
	--bright-orange: #e38826;
	--dark-cyan: #006970;
	--very-dark-cyan: #004241;
	--very-light-gray: #f2f2f2;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--very-light-gray);
}

h1 {
	font-family: 'Big Shoulders Display', serif;
	color: var(--very-light-gray);
	font-size: 2.5em;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	font-family: 'Lexend Deca', serif;
	color: #fff;
	line-height: 1.7;
}

a {
	text-decoration: none;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	top: 50%;
}

.container {
	display: grid;
	border-radius: 20px;
	grid-template-columns: repeat(3, minmax(200px, 1fr));	
	width: 65%;
	height: 75vh;
}

.card {
	padding: 45px ;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	justify-content: space-around;
}


.card .btn {
	border-radius: 20px;
	padding: 10px;
	border:0;
	width: 130px;
	height: 40px;
	font-family:'Lexend Deca';
	cursor: pointer;
}


.card-sedans {
	background: var(--bright-orange);
	border-radius: 10px 0 0 10px;
}

.card-suvs {
	background:  var(--dark-cyan);
}

.card-luxury {
	background: var(--very-dark-cyan);
	border-radius: 0 10px 10px 0;
}


.card-sedans .btn {
	color: var(--bright-orange);
}

.card-suvs .btn {
	color: var(--dark-cyan);
}

.card-luxury .btn {
	color: var(--very-dark-cyan);
}

.card .btn:hover {
	background-color: transparent;
	color: #fff;
	border: #fff solid 1px;
	transition: ease-in 0.2s;
}
